<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Poc</title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <h1>Formulaire d'informations sur les oiseaux</h1>
  <form action="/submit" method="post">
    <label for="taille">Taille :</label>
    <input type="text" id="taille" name="Taille" placeholder="Ex: 10 cm" required><br>

    <label for="envergure">Envergure :</label>
    <input type="text" id="envergure" name="Envergure" placeholder="Ex: 40 cm" required><br>

    <label for="poids">Poids :</label>
    <input type="text" id="poids" name="Poids" placeholder="Ex: 0.5 kg" required><br>

    <label for="couleurs">Couleurs principales :</label><br>
    <input type="checkbox" id="couleur_brun" name="Couleurs_principales" value="Brun">
    <label for="couleur_brun">Brun</label><br>
    <input type="checkbox" id="couleur_gris" name="Couleurs_principales" value="Gris">
    <label for="couleur_gris">Gris</label><br>
    <input type="checkbox" id="couleur_marron" name="Couleurs_principales" value="Marron">
    <label for="couleur_marron">Marron</label><br>
    <input type="checkbox" id="couleur_beige" name="Couleurs_principales" value="Beige">
    <label for="couleur_beige">Beige</label><br>
    <input type="checkbox" id="couleur_Roux" name="Couleurs_principales" value="Roux">
    <label for="couleur_Roux">Roux</label><br>
    <input type="checkbox" id="couleur_rouge" name="Couleurs_principales" value="Rouge">
    <label for="couleur_rouge">Rouge</label><br>
    <input type="checkbox" id="couleur_bleu" name="Couleurs_principales" value="Bleu">
    <label for="couleur_bleu">Bleu</label><br>
    <input type="checkbox" id="couleur_vert" name="Couleurs_principales" value="Vert">
    <label for="couleur_vert">Vert</label><br>
    <input type="checkbox" id="couleur_jaune" name="Couleurs_principales" value="Jaune">
    <label for="couleur_jaune">Jaune</label><br>
    <input type="checkbox" id="couleur_noir" name="Couleurs_principales" value="Noir">
    <label for="couleur_noir">Noir</label><br>
    <input type="checkbox" id="couleur_blanc" name="Couleurs_principales" value="Blanc">
    <label for="couleur_blanc">Blanc</label><br>

    <label for="bec">Bec :</label><br>
    <input type="radio" id="bec_large" name="Bec" value="Large avec culmen prononcé">
    <label for="bec_large">Large avec culmen prononcé</label><br>
    <input type="radio" id="bec_crochu" name="Bec" value="Crochu">
    <label for="bec_crochu">Crochu</label><br>
    <input type="radio" id="bec_court" name="Bec" value="Court à grande ouverture">
    <label for="bec_court">Court à grande ouverture</label><br>
    <input type="radio" id="bec_fin" name="Bec" value="Fin">
    <label for="bec_fin">Fin</label><br>
    <input type="radio" id="bec_aplati" name="Bec" value="Aplati">
    <label for="bec_aplati">Aplati</label><br>
    <input type="radio" id="bec_conique" name="Bec" value="Conique">
    <label for="bec_conique">Conique</label><br>
    <input type="radio" id="bec_long" name="Bec" value="Long en épée">
    <label for="bec_long">Long en épée</label><br>
    <input type="radio" id="bec_coude" name="Bec" value="Coudé">
    <label for="bec_coude">Coudé</label><br>
    <input type="radio" id="bec_croise" name="Bec" value="Croisé">
    <label for="bec_croise">Croisé</label><br>

    <label for="couleur_bec">Couleur du bec :</label><br>
    <input type="checkbox" id="couleur_bec_noir" name="Couleur_bec" value="Noir">
    <label for="couleur_bec_noir">Noir</label><br>
    <input type="checkbox" id="couleur_bec_jaune" name="Couleur_bec" value="Jaune">
    <label for="couleur_bec_jaune">Jaune</label><br>
    <input type="checkbox" id="couleur_bec_rouge" name="Couleur_bec" value="Rouge">
    <label for="couleur_bec_rouge">Rouge</label><br>
    <input type="checkbox" id="couleur_bec_blanc" name="Couleur_bec" value="Blanc">
    <label for="couleur_bec_blanc">Blanc</label><br>
    <input type="checkbox" id="couleur_bec_brun" name="Couleur_bec" value="Brun">
    <label for="couleur_bec_brun">Brun</label><br>
     <input type="checkbox" id="couleur_bec_gris" name="Couleur_bec" value="Gris">
    <label for="couleur_bec_gris">Gris</label><br>

    <label for="mois_observation">Mois d'observation :</label><br>
    <select id="mois_observation" name="Mois_observation">
      <option value="1">Janvier</option>
      <option value="2">Février</option>
      <option value="3">Mars</option>
      <option value="4">Avril</option>
      <option value="5">Mai</option>
      <option value="6">Juin</option>
      <option value="7">Juillet</option>
      <option value="8">Août</option>
      <option value="9">Septembre</option>
      <option value="10">Octobre</option>
      <option value="11">Novembre</option>
      <option value="12">Décembre</option>
    </select><br>

    <label for="pattes">Pattes :</label><br>
    <input type="radio" id="pattes_palmé" name="Pattes" value="Palmé">
    <label for="pattes_palmé">Palmé</label><br>
    <input type="radio" id="pattes_serres" name="Pattes" value="Serres">
    <label for="pattes_serres">Serres</label><br>
    <input type="radio" id="pattes_autre" name="Pattes" value="Autre">
    <label for="pattes_autre">Autre</label><br>

    <label for="couleur_pattes">Couleur des pattes :</label><br>
    <input type="checkbox" id="couleur_pattes_noir" name="Couleur_pattes" value="Noir">
    <label for="couleur_pattes_noir">Noir</label><br>
    <input type="checkbox" id="couleur_pattes_jaune" name="Couleur_pattes" value="Jaune">
    <label for="couleur_pattes_jaune">Jaune</label><br>
    <input type="checkbox" id="couleur_pattes_rouge" name="Couleur_pattes" value="Rouge">
    <label for="couleur_pattes_rouge">Rouge</label><br>
    <input type="checkbox" id="couleur_pattes_orange" name="Couleur_pattes" value="Orange">
    <label for="couleur_pattes_orange">Orange</label><br>
    <input type="checkbox" id="couleur_pattes_gris" name="Couleur_pattes" value="Gris">
    <label for="couleur_pattes_gris">Gris</label><br>
    <input type="checkbox" id="couleur_pattes_brune" name="Couleur_pattes" value="Brun">
    <label for="couleur_pattes_brune">Brun</label><br>

    <label for="regime">Régime alimentaire :</label><br>
    <input type="checkbox" id="regime_omnivore" name="Régime_alimentaire" value="Omnivore">
    <label for="regime_omnivore">Omnivore</label><br>
    <input type="checkbox" id="regime_insectivore" name="Régime_alimentaire" value="Insectivore">
    <label for="regime_insectivore">Insectivore</label><br>
    <input type="checkbox" id="regime_granivore" name="Régime_alimentaire" value="Granivore">
    <label for="regime_granivore">Granivore</label><br>
    <input type="checkbox" id="regime_carnivore" name="Régime_alimentaire" value="Carnivore">
    <label for="regime_carnivore">Carnivore</label><br>
    <input type="checkbox" id="regime_piscivore" name="Régime_alimentaire" value="Piscivore">
    <label for="regime_piscivore">Piscivore</label><br>
    <input type="checkbox" id="regime_crustacivore" name="Régime_alimentaire" value="Crustacivore">
    <label for="regime_crustacivore">Crustacivore</label><br>
    <input type="checkbox" id="regime_herbivore" name="Régime_alimentaire" value="Herbivore">
    <label for="regime_herbivore">Herbivore</label><br>
    <input type="checkbox" id="regime_charognard" name="Régime_alimentaire" value="Charognard">
    <label for="regime_charognard">Charognard</label><br>

    <button type="submit">Envoyer</button>
  </form>
</body>

</html>